@import url('/src/App.css');

.article{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    text-align: center;
    margin: 0 auto;
    gap: 20px;
}

.tag{
    color: var(--color-primary-700);
}

.desc{
    font-size: 20px;
}

.banner-image{
    /* max-width: 960px; */
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.author-details{
    display: flex;
    gap: 10px;
}

.author-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.avatar{
    width: 56px;
    height: 56px;
    object-fit:cover;
    cursor: pointer;
    border-radius: 50%;
}

.text{
    padding: 20px 100px;
}
