@import url('/src/App.css');

.profile-layout{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 20px;
    width: 80vw;
}

.det{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-self: flex-start;
}

.detail-box{
    display: flex;
    gap: 10px;
}

.detail-box > img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

form{
    width: 50vw;
}


@media (max-width: 900px) {
    .profile-layout { width: 90vw; }
    form{
        width: 100%;
    }
}