@import url('/src/App.css');

.card-container {
    flex: 5;
    max-width: 1200px;
    width: 70%;
    display: grid;
    gap: 1rem;
    grid-template-columns:repeat(2, 1fr);
}

@media (max-width: 900px) {
    .home-layout{ flex-direction: column;}
    .card-container{ width: 100%;}
}

@media (max-width: 600px) {
    .card-container { grid-template-columns:1fr; }
    .search-box{width: 100%;text-align: center;}
}

.home-layout{
    display: flex;
    gap: 20px;
}

.search-box{
    flex: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search-input{
    width: 100%;
}
