@import url('/src/App.css');

nav{
    height: 80px;
    width: 100%;
    border-bottom: 1px solid var(--color-border-2);
   padding-right: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 40px;
    text-decoration: none;
}

.logo:active{
    color:var(--color-primary-700)
}

nav > h1{
    margin-left: 40px;
}

.search-bar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav > div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a{
    text-decoration: none;
    margin: 0 5px;
}

.home-btn{
    color: white;
}